@{
    Layout = null;

    var beerName = "Breakfast Stout";
    var breweryName = "Founders";
    var style = "Imperial Stout";
    var ibu = 60;
    var abv = 8.3;
    var description = "<p>Really good beer!</p>";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@beerName</h1>
        <h2>@breweryName</h2>
        <h5>@style</h5>
        <h5>@ibu</h5>
        <h5>@abv</h5>
        <h5>Description:</h5>
        <div>@Html.Raw(description)</div>
    </div>
</body>
</html>
